{{ define "main" }}
	<main>
		F’Deem is a 3D Printable Pony-Inhabited Building System.
		<br><br>
		Welcome to the site! Everything is early in development, but a variety of printable pieces are available for you to try out! <a href="https://github.com/The64thGamer/F-Deem" class="navbar-brand">F'Deem is fully open source and remixable</a>, so customize it to your liking! Created by <a href="https://www.tumblr.com/the-64th-gamer" class="navbar-brand">The 64th Gamer</a>.
		<br><br>
		Want to discuss F'Deem? <a href="https://f-deem.org" class="navbar-brand">Check the forum!</a>
		<br><br>
		<img src="/photos/benchysetEdited.avif" alt="Example render of a Benchy set." style="height:35vw; display:flex; margin:auto; background-color:var(--deep-brown)">
		<h2>F.A.Q.</h2>
		<h3>What's the Design Philosophy?</h3>
		Pieces are built from scratch, designed to be mostly solid for strength. All of the base bricks are designed to print without supports, though figures and special pieces may require them. Bricks are at 1.5x the usual scale of other building systems for easier tolerances, strength, and to mimic the relative size of how bricks were when kids played with them.
		<br>
		Pieces are designed to be printed in 1 color, letting it be easily be made on any printer. Instead of going for stickers, F'Deem bricks have thick walls that allow them to be etched and debossed in the modeling software to form specific designs.
		<br>
		Everything is designed to just be 3D printed, which includes packaging. The "8x12x2 Packaging Piece" combines with the "8x12 Plates" to form a box, completely compatible with the F'Deem system, you can store pieces in. The package piece also is designed to connect to other packages for bigger sets. On top of that, the studs on the top and bottom mean the package itself is what you build your set on top of! (See the image above). This means you can easily tear down your set and keep everything in the original box, bring it somewhere else, and build something different! There are also specific "8x12 Plates" with artwork and information on the bottom, which can be used as a proper boxart to display your set with! It's a very tightly designed system I spent way too many weeks creating.
		<br><br>
		<h3>What's the Roadmap?</h3>
		Two sets are planned to be on the site currently, one based on Benchy3D and one based off Boaty3D. It'll take a bit to design the digital instructions. I originally had an idea to allow you to swap the palette of a set to be based on whatever colors you want to print with, but I may just do traditional instructions until that's more feasible.
		<br>
		Current piece ideas are obviously more pony hats and hair. There are also plans for small flag pieces you can form together with different colors to make a full flag, alongside some emoji 1x1 bricks. Eventually I'll also get to things the ponies can hold.
		<br><br>
	</main>
{{ end }}
