{{ define "main" }}
	<main>
		F’Deem is two things: A 3D Printable Pony-Inhabited Building System, and an in-development game using those pieces.
		<br><br>
		Welcome to the site! Everything is early in development, but a variety of printable pieces are available for you to try out! F'Deem is fully open source and remixable, so customize it to your liking!
		<br><br>
		Want to discuss F'Deem? <a href="https://f-deem.org" class="navbar-brand">Check the main site!</a>
		<br><br>
		<img src="/photos/benchysetEdited.avif" alt="Example render of a Benchy set." style="height:40vw; display:flex; margin:auto;">
	</main>
{{ end }}
