{{ define "main" }}
	<main>
		F’Deem is a 3D Printable Pony-Inhabited Building System.
		<br><br>
		Welcome to the site! Everything is early in development, but a variety of printable pieces are available for you to try out! <a href="https://github.com/The64thGamer/F-Deem" class="navbar-brand">F'Deem is fully open source and remixable</a>, so customize it to your liking! Created by <a href="https://www.tumblr.com/the-64th-gamer" class="navbar-brand">The 64th Gamer</a>. A full introduction video is also <a href="https://www.youtube.com/watch?v=QifOnbn1S7I&list=PLhwyGmlwAGUsgosB7it1MxcTbuTxmOwp6&index=1&t=3s&pp=gAQBiAQB" class="navbar-brand">available here!</a>
		<br><br>
		Want to discuss F'Deem? <a href="https://f-deem.org" class="navbar-brand">Check the forum!</a>
		<br><br>
		<img src="/photos/HomepageThumbnail.avif" alt="Example render of a Benchy set." style="box-shadow: 0em 0em 2em 0em black ; height:35vw; display:flex; margin:auto; background-color:var(--deep-brown)">
		<h2>F.A.Q.</h2>
		<h3>What's the Design Philosophy?</h3>
		Pieces are built from scratch, designed to be mostly solid for strength. All of the base bricks are designed to print without supports, though figures and special pieces may require them. Bricks are at 1.5x the usual scale of other building systems for easier tolerances, strength, and to mimic the relative size of how bricks were when kids played with them.
		<br>
		Pieces are designed to be printed in 1 color, letting it be easily be made on any printer. Instead of going for stickers, F'Deem bricks have thick walls that allow them to be etched and debossed in the modeling software to form specific designs.
		<br>
		Everything is designed to just be 3D printed, which includes packaging. The "8x12x3 Packaging Piece" combines with the "8x12 Plates" to form a box, completely compatible with the F'Deem system for you to store pieces in. The package piece also is designed to connect to other packages for bigger sets. On top of that, the studs on the top and bottom mean the package itself is what you build your set on top of! This means you can easily tear down your set and keep everything in the original box, bring it somewhere else, and build something different! There are also specific "8x12 Plates" with artwork and information on the bottom, which can be used as a proper boxart to display your set with! It's a very tightly designed system I spent way too many weeks creating.
		<br><br>
		<h3>Why doesn't the link on the Set 1 Display Plate work?</h3>
		The instructions aren't live on the site just yet. They are created- but a page layout to have them properly displayed needs to be designed first.
		<br><br>
		<h3>The clutch power on my bricks isn't the best.</h3>
		These are certainly challenging to print if you don't have the right tuning on your printer. The main thing is the infill percent will directly correlate to how tight it clutches (only up to a certain point). The studs are also very sensitive to being printed in any angle other than vertical, and its advised you print at 0.1mm layer height or smaller for these cases (though standard bricks can be at 0.2 no problem). Certain pieces may also require reorientation, brims, or supports and it will be up to the user to tune these right for their printer. Thankfully the pieces being small makes this iteration process pretty quick.
		<br><br>
		<h3>What's F'Deem supposed to mean?</h3>
		Funny Derivative Elements for Equestrian Makers, but also based of the 'FDM' type of 3D printing. Fun fact this was originally gonna be called Oh Funny Horse, which had a full logo and everything.
		<br><br>
		<h3>What's the Roadmap?</h3>
		Now that all the pieces are fixed, improved, and iterated upon, it'll mostly be just creating new ones every once and a while and continuing to print my own collection for testing and set making. I'm going to Everfree Northwest in August of this year so I hope I can print a few boxes of ponies to give away to people!
		<br>
		At some point instructions will be made for a few starter sets, being a 3DBenchy one, a 3DBoaty one, and probably a house or building. I'd love to design a ton but the process for building the instructions is very laborious at this stage.
	</main>
{{ end }}
