<div style="display: flex; align-items:center;">
    <div style="flex: auto;margin-right:1em;">
        {{- partial "theme-picker" -}}
    </div>
    <div style="flex: auto;">
        <p>Page content is available under CC BY-SA 4.0. All F'Deem pieces, code, and content is available under GNU GPL v3.0., license <a href="https://github.com/The64thGamer/F-Deem/blob/main/LISENCE-NON-CODE">available here.</a> All rights reserved for trans people. This website was last updated{{- " " -}}{{- now | time.Format ":date_medium" -}}{{- " at " -}}{{- now | time.Format ":time_medium" -}}.</p>
    </div>
</div>

