{{- $tagCategories := dict
  "Size" (slice "1x1" "1x2" "1x3" "1x4" "1x5" "1x6" "1x8" "1x10" "1x16" "2x2" "2x3" "2x4" "2x6" "2x10" "2x16" "3x2" "4x4" "4x6" "8x8" "8x12" "16x16") 
  "Type" (slice "Brick" "Figure" "Accessory")
  "Design" (slice "Rounded" "Debossed" "Ramp" "Out Peg" "In Peg" "Frame" "Plate")
  "Theme" (slice "Food" "Construction")
  -}}


{{- $pages := .Site.RegularPages -}}
<div id="tagsContainer">
  {{- $tags := dict -}} <!-- Initialize a dictionary to store tags and counts -->
  {{- range $pages -}}
  {{- $currentPage := . -}}
  {{- range $currentPage.Params.tags -}} <!-- Iterate over tags in each page -->
  {{- $tag := . -}}
  {{- $count := index $tags $tag -}} <!-- Get current count for the tag -->
  {{- if $count -}}
  {{- $tags = merge $tags (dict $tag (add $count 1)) -}}
  {{- else -}}
  {{- $tags = merge $tags (dict $tag 1) -}}
  {{- end -}}
  {{- end -}}
  {{- end -}}
  {{- $categorizedTags := dict -}} <!-- Store categorized tags -->
  {{- $otherTags := dict -}} <!-- Store other tags -->

  <!-- Loop through tags and assign them to categories -->
  {{- range $tag, $count := $tags -}}
  {{- $found := false -}}
  {{- range $category, $categoryTags := $tagCategories -}}
  {{- if in $categoryTags $tag -}} <!-- Check if tag belongs to category -->
  {{- $categorizedTags = merge $categorizedTags (dict $category (merge (index $categorizedTags $category | default dict)
  (dict $tag $count))) -}}
  {{- $found = true -}}
  {{- end -}}
  {{- end -}}

  <!-- If no matching category, place tag in Other -->
  {{- if not $found -}}
  {{- $otherTags = merge $otherTags (dict $tag $count) -}}
  {{- end -}}
  {{- end -}}

  <div class="tri-column">
    <ul>
      <!-- Output categorized tags -->
      {{- range $category, $tags := $categorizedTags -}}
      <div class="reg-column">
        <strong>{{- $category -}}</strong>
        <ul>
          {{- range $tag, $count := $tags -}}
          {{- $tagFix := (replace $tag " " "-") -}}
          {{- $tagFix := (replace $tagFix "&-" "") -}}
          {{- $tagFix := (replace $tagFix "," "") -}}
          <li>
            <a href="{{- (site.GetPage (printf "/tags/%s" $tagFix)).RelPermalink -}}" title="All pages with tag <i>{{- $tag -}}</i>">{{- $tag -}}</a>
            <sup>{{- $count -}}</sup>
          </li>
          {{- end -}}
        </ul>
        <hr>
      </div>
      {{- end -}}

      <!-- Output other tags -->
      {{- if gt (len $otherTags) 0 -}}
      <div class="reg-column">
        <strong>Other</strong>
        <ul>
          {{- range $tag, $count := $otherTags -}}
          {{- $tagFix := (replace $tag " " "-") -}}
          {{- $tagFix := (replace $tagFix "&-" "") -}}
          {{- $tagFix := (replace $tagFix "," "") -}}
          <li>
            <a href="{{- (site.GetPage (printf "/tags/%s" $tagFix)).RelPermalink -}}" title="All pages with tag <i>{{- $tag -}}</i>">{{- $tag -}}</a>
            <sup>{{- $count -}}</sup>
          </li>
          {{- end -}}
          {{- end -}}
        </ul>
      </div>
    </ul>
  </div>
</div>