{{ $listtitle := .Title }}
{{ if or .Title .Content }}
<div>
    {{ with .Title }}<h1>{{ . }}</h1>{{ end }}
    {{ with .Content }}<div>{{ . }}</div>{{ end }}
</div>
{{ end }}
<div class="gallery-container">
    {{ range .Pages }}
        <div class="gallery-item">
            <div class="gallery-picture">
                <a href="{{ .RelPermalink }}">
                {{ if .Params.pageThumbnailFile }}
                    <img src="/photos/{{ .Params.pageThumbnailFile }}" alt="{{ .Title }}">
                {{ else }}
                    <img src="/photos/File Not Found.jpg" alt="{{ .Title }}">
                {{ end }}
                </a>
            </div>

            <div class="gallery-link">
                <a href="{{ .RelPermalink }}">{{ .Title | truncate 17 "..."}}</a>
            </div>
        </div>
    {{ end }}
</div>