<article>
	{{ if .Params.description }}
		<h1>{{ .Params.description }}</h1>
	{{ end }}

	<div class="article-thumbnail">
		{{ if .Params.pageThumbnailFile }}
		<div class="instruction-thumbnail">
			<img src="/photos/{{ .Params.pageThumbnailFile }}" alt="{{ .Title }}">
		</div>
		{{ else }}
			<img src="/photos/File Not Found.jpg" alt="{{ .Title }}">
		{{ end }}
	</div>

	{{ if and (.Params.imageSetName) (ge .Params.imageSetAmount 1) }}
		<div class="instruction-pages">
			{{ $base := .Params.imageSetName }}
			{{ $count := .Params.imageSetAmount }}
			{{ range seq 0 (sub $count 1) }}
				<div class="instruction-page">
					<div class="page-number">{{ add . 1 }}</div>
					<img src="/photos/{{ printf "%s%d.avif" $base . }}" alt="{{ $.Title }}">
				</div>
			{{ end }}
		</div>
	{{ end }}

	<div>
		{{ .Content }}
	</div>
</article>
