:root {
  --brown:#4e3929;
  --deep-brown:#2c1e13;
  --white: #FFFFFF;
  --light-gray:#bbbbbb;
  --gray:#a7a7a7;
  --dark-gray:#969696;
  --deep-gray:#868686;
  --abyss-gray:#585858;
  --black: rgb(0, 0, 0)
}



html, body{
  background-color: var(--brown);
  color: var(--white);
  font-family: "Eirian";
}


main, footer{
  width: 55vw;
  margin: auto;
}

header{
  font-family: "Mochi";
}

.navbar {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px 20px;
  background-color: #1f1b1b;
}

a {
  text-decoration: none;
  color: var(--white);
}

.container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.navbar-menu {
  display: flex;
  /* Display menu items in a row */
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-menu li {
  padding: 5px 20px;
  font-family: "Eirian";
}


.navbar-item:hover .dropdown-menu {
  display: block;
}


.navbar-item {
  position: relative;
  margin: 0 10px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #444;
  list-style: none;
  margin: 0;
  padding: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.gallery-container {
  display:flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: var(--deep-gray);
  box-shadow: 0vw 0vw 1vw var(--deep-brown);
}

.gallery-item{
  max-width: 6vw;
  max-height: 8.25vw;
  min-width: 6vw;
  min-height: 8.25vw;
  border: solid;
  background-color: var(--gray);
  border-width: 0.5vw;
  border-top-color: var(--light-gray);
  border-left-color: var(--dark-gray);
  border-right-color: var(--gray);
  border-bottom-color: var(--deep-gray);
  box-shadow: 0vw 0vw .5vw var(--abyss-gray);
  margin-top: .4vw;
  margin-bottom: .4vw;
}

.gallery-item:hover{
  box-shadow: 0vw 0vw .5vw var(--black);
  border-top-color: var(--gray);
  border-left-color: var(--deep-gray);
  background-color: var(--dark-gray);
  border-right-color: var(--dark-gray);
  border-bottom-color: var(--abyss-gray);
}

.gallery-picture img{
  width: 6vw;
  height: 6vw;
  box-shadow: 0vw 0vw .5vw var(--gray);
}

.gallery-link{
  margin: 0.25vw;
  text-align: center;
}

@font-face {
  font-family: "Mochi";
  src: url('/Fonts/TMT-MiniMochi-Sweet.otf') format('opentype');
}

@font-face {
  font-family: "Eirian";
  src: url('/Fonts/Eirian.ttf') format('truetype');
}